# my project
.venv
logs
.vscode/settings.json

# python
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
_build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# mac
.DS_Store
